importFrom("curl","has_internet")
importFrom("data.table","data.table")
importFrom("dplyr","pull")
importFrom("forcats","fct_rev")
importFrom("getPass","getPass")
importFrom("graphics","arrows","axis","barplot","box","grid","lines","par","plot","points","polygon")
importFrom("gdalUtils","gdalwarp","gdal_setInstallation","mosaic_rasters")
importFrom("gdalUtilities","gdalinfo")
importFrom("ggplot2","aes","coord_flip","element_blank","element_text","facet_wrap","geom_bar","geom_line","geom_segment","geom_point","ggplot","labs","theme","theme_bw","xlab","ylab")
importFrom("grDevices","rgb")
importFrom("httr","GET","authenticate","timeout","write_disk")
importFrom("landscapemetrics","calculate_lsm","sample_lsm")
importFrom("lattice","panel.grid","panel.levelplot")
importFrom("methods","as","slot")
importFrom("parallel","mcmapply","detectCores")
importFrom("raster","area","blockSize","brick","canProcessInMemory","clamp","compareRaster","crs","compareCRS","cellStats","crop","drawExtent","extent","getData","getValues","intersect","mask","merge","nlayers","pbCreate","pbClose","pbStep","plotRGB","projectExtent","projectRaster","setValues","raster","rasterToPolygons","rasterize","reclassify","res","setExtent","stack","subset","rasterTmpFile","values","Which","writeStart","writeRaster","writeValues","writeStop")
importFrom("rasterDT","freqDT")
importFrom("rasterVis","levelplot")
importFrom("readr","type_convert")
importFrom("rgdal","readGDAL","readOGR")
importFrom("rgeos","bbox2SP")
importFrom("rvest","html_attr","html_nodes")
importFrom("rlang",".data")
importFrom("R.utils","downloadFile")
importFrom("sf","st_sf","st_as_sf","st_bbox","st_make_grid")
importFrom("sp","spTransform")
importFrom("stats","aggregate","formula","median","na.omit","time","ts")
importFrom("tibble", "as_tibble","tibble")
importFrom("utils", "download.file","capture.output","read.table","unzip","untar")
importFrom("viridis", "viridis_pal", "scale_color_viridis")
importFrom("xml2", "read_html")
export(barplot.EBVstats,EBVstats,echanges,gaugeIndicator,getGADM,getrsp,getWRS,listGP,plotebv,plotind,rsp2ebv,sampleIndicator)
S3method(barplot,EBVstats) 
importMethodsFrom("raster","as.list","crs<-","names<-","merge","plot","trim")
